/* Heading */
body{
   margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #1f2937;
    color: white;
    padding: 0px 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 80%;
}

nav ul li {
    display: flex;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Header continued */
.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: #1f2937;
    color: white;
    padding: 40px;
}

.header-cont .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text {
    max-width: 50%;
}

img {
    height: 300px;
    width: auto;
    max-width: 45%;
}

.signup {
    background-color: rgb(43, 97, 167);
    border-radius: 12px;
}

/* What will we be working on? */
.trumpet {
    height: 100px;
    width: auto;
    border-radius: 12px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.image-item {
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
}

/* quote */
.quote {
    background-color: lightgray;
    padding: 20px;
    width: 100%;
    height: 25%;
}

.quote-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.quote h2 {
    font-style: italic;
}